.statistics-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid #808080;
    border-radius: 5px;
    padding: 10px 20px;
    width: 180px;
    margin: 10px;
}

.statistics-card .name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 3px;
}

.statistics-card .value {
    font-size: 18px;
    color: #bfbfbf;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}