.square {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border: 1px solid #ccc;
}

.square .player {
    height: 50px;
    width: 50px;
}