$sliderwidth: 100px;
$indicatorSize: 20px;

@keyframes slide {
    0% { margin-left: 0px; }
    50% { margin-left: $sliderwidth }
    100% { margin-left: 0px }
}

.slider-container {
    display: flex;
    flex-direction: row;
}

.slider-container .slider {
    height: $indicatorSize;
    width: (($sliderwidth + $indicatorSize) / 2) - 2px;     // Deduct 2px as the correction of border width (each side 1px)
    border: 1px solid #ccc;
    background-color: #fff;
}

.slider-container .left {
    border-top-left-radius: $indicatorSize / 2;
    border-bottom-left-radius: $indicatorSize / 2;
}

.slider-container .right {
    border-top-right-radius: $indicatorSize / 2;
    border-bottom-right-radius: $indicatorSize / 2;
}

.slider-container .indicator {
    position: absolute;
    height: $indicatorSize;
    width: $indicatorSize;
    border-radius: 50%;
    background-color: #000;
    animation-name: slide;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin-top: 1px;
}